#header{
    width:100%;
    background-image:linear-gradient(45deg,#5C01F4,#4200B5);
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    height:2cm;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    }
    #header #logo{
    position:relative;
    left:-50%;
    width:30%;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:2px;
    }
    #header #options{
    width:70%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    }
    #header #options .h-options{
    text-decoration:none;
    text-transform:uppercase;
    color:#ffffff;
    }
    #slider{
    width:100%;
    height:12cm;
    background-color:#000000;
    }
#slider .slider-file{
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
}
#slider .slider-file .slider-img{
    position:relative;
    width:100%;
    height:100%;
    opacity:0.5;
}
#slider #slider-file-1{
z-index:5;
visibility:visible;
}
#slider #slider-file-1 .slider-img{
z-index:6;
position:absolute;
top:2.2cm;
left:0cm;
height:12cm;
}
#slider #slider-file-1 p{
z-index:7;
visibility:visible;
}
#slider #slider-file-2{
z-index:2;
visibility:hidden;
}
#slider #slider-file-2 .slider-img{
z-index:3;
height:12cm;
}
#slider #slider-file-2 p{
z-index:4;
}
#slider #slider-file-3{
z-index:-1;
visibility:hidden;
}
#slider #slider-file-3 .slider-img{
z-index:0;
height:12cm;
}
#slider #slider-file-3 p{
z-index:1;
}
#slider #slider-file-4{
z-index:-4;
visibility:hidden;
}
#slider #slider-file-4 .slider-img{
z-index:-3;
height:12cm;
}
#slider #slider-file-4 p{
z-index:-2;
}
#slider #slider-file-5{
z-index:-7;
visibility:hidden;
}
#slider #slider-file-5 .slider-img{
z-index:-6;
height:12cm;
}
#slider #slider-file-5 p{
z-index:-5;
}
#slider #slider-file-6{
z-index:-10;
visibility:hidden;
}
#slider #slider-file-6 .slider-img{
z-index:-9;
height:12cm;
}
#slider #slider-file-6 p{
z-index:-8;
}
#slider .slider-file p{
    position:relative;
    top:-50%;
    left:10px;
    color:#ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight:500;
    font-size:1cm;
}
    #report{
    position:relative;
    top:5cm;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    }
    #report h1{
        font-family: 'Noto Sans', sans-serif;
        font-weight:500;
        color:
    }
#report #calendar{
    position:relative;
    left:0%;
    width:10cm;
    height:10cm;
    border:0px solid transparent;
    border-radius:5px;
    background-color:#5C01F4aa;
}
#report #weather{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}
    #report #weather .row{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100%;
    }
#report #weather .cond{
    position:relative;
    width:10cm;height:10cm;
    border:0px solid transparent;
    border-radius:5px;
    background-color:#5C01F4aa;
    margin:0.5cm;
}
    footer{
    display:flex;
    flex-direction:row;
    }
    
