#header{
    width:100%;
    background-image:linear-gradient(45deg,#5C01F4,#4200B5);
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    height:2cm;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    }
    #header #logo{
    position:relative;
    left:-50%;
    width:30%;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:2px;
    }
    #header #options{
    width:70%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    }
    #header #options .h-options{
    text-decoration:none;
    text-transform:uppercase;
    color:#ffffff;
    }
    #slider{
    width:100%;
    height:8cm;
    background-color:#5C01F4aa;
    
    }
    #report{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    }
    #report h1{
        font-family: 'Noto Sans', sans-serif;
        font-weight:500;
        color:
    }
#report #calendar{
    position:relative;
    left:0%;
    width:10cm;
    height:10cm;
    border:0px solid transparent;
    border-radius:5px;
    background-color:#5C01F4aa;
}
#report #weather{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}
    #report #weather .row{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100%;
    }
#report #weather .cond{
    position:relative;
    width:10cm;height:10cm;
    border:0px solid transparent;
    border-radius:5px;
    background-color:#5C01F4aa;
    margin:0.5cm;
}
    footer{
    display:flex;
    flex-direction:row;
    }
    
