body{
    overflow-x: hidden;
}
#header{
    width:100%;
    background-image:linear-gradient(45deg,#5C01F4,#4200B5);
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    height:2cm;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    }
    #header #logo{
    position:relative;
    left:0%;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:2px;
    border:0px solid transparent;
    border-radius:100%;
    height:1.8cm;
    width:1.8cm;
    }
    #header #options{
    position:relative;
    left:4cm;
    width:70%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    }
    #header #options .h-options{
    position:relative;
    top:0px;
    text-decoration:none;
    text-transform:uppercase;
    color:#ffffff;
    transition-duration: 0.5s;
    padding-left:10px;
    padding-right:10px;
    border:0px solid transparent;
    border-radius: 1cm;
    }

    #header #options .h-options:hover{
        top:-1px;
        background-color: #aef3ff;
        color:#1b004b;
        box-shadow: 0 0 10px #aef3ff;
        transition-duration: 0.5s;
    }
    #header #options #home{
        background-color: #aef3ff;
        box-shadow: 0 0 10px #aef3ff;
        color:#1b004b;
        padding-left:10px;
        padding-right:10px;
        border:0px solid transparent;
        border-radius: 1cm;
        }
    #slider{
    position:relative;
    top:1cm;
    left:0%;
    width:80%;
    height:12cm;
    background-color:#000000;
    box-shadow:0 0 10px #000000;
    }
#slider .slider-file{
    width:100%;
    height:100%;
    position:absolute;
    left:10px;
    top:0px;
}
#slider .slider-file .slider-img{
    position:relative;
    top:0cm;
    left:-10px;
    width:100%;
    height:100%;
    opacity:1;
}

#slider #slider-file-1{
z-index:5;
visibility:visible;
animation-name:s1;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-1 .slider-img{
z-index:6;
height:12cm;
animation-name:s1-img;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-1 .desc{
z-index:7;
animation-name:s1-desc;
animation-duration:30s;
animation-iteration-count:infinite;
    width:50%;
    overflow:wrap;
}
#slider #slider-file-2{
z-index:2;
visibility:hidden;
animation-name:s2;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-2 .slider-img{
z-index:3;
height:12cm;
animation-name:s2-img;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-2 .desc{
z-index:4;
animation-name:s2-desc;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-3{
z-index:-1;
visibility:hidden;
animation-name:s3;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-3 .slider-img{
z-index:0;
height:12cm;
animation-name:s3-img;
animation-duration:30s;
animation-iteration-count:infinite;    
}
#slider #slider-file-3 .desc{
z-index:1;
animation-name:s3-desc;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-4{
z-index:-4;
visibility:hidden;
animation-name:s4;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-4 .slider-img{
z-index:-3;
height:12cm;
animation-name:s4-img;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-4 .desc{
z-index:-2;
animation-name:s4-desc;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-5{
z-index:-7;
visibility:hidden;
animation-name:s5;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-5 .slider-img{
z-index:-6;
height:12cm;
animation-name:s5-img;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-5 .desc{
z-index:-5;
animation-name:s5-desc;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-6{
z-index:-10;
visibility:hidden;
animation-name:s6;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-6 .slider-img{
z-index:-9;
height:12cm;
animation-name:s6-img;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider #slider-file-6 .desc{
z-index:-8;
animation-name:s6-desc;
animation-duration:30s;
animation-iteration-count:infinite;
}
#slider .slider-file .desc{
    position:relative;
    top:-80%;
    left:30px;
    color:#ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight:500;
    font-size:1cm;
    width:50%;
    overflow:wrap;
    text-shadow: -1px 1px 0 #000000,1px 1px 0 #000000,1px -1px 0 #000000,-1px -1px 0 #000000;
}
@keyframes s1{
    0%{
    z-index:5;
    visibility:visible;
    opacity:1;
    }
    14%{
    z-index:-10;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:-10;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:-7;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:-7;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:-4;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:-4;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:2;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:2;
    visibility:visible;
    opacity:1;
    }
}
@keyframes s1-img{
    0%{
    z-index:6;
    visibility:visible;
    opacity:1;
    }
    14%{
    z-index:-9;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:-9;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:-6;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:-6;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:-3;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:-3;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:3;
    visibility:visible;
    opacity:1;
    }
}
@keyframes s1-desc{
    0%{
    z-index:7;
    visibility:visible;
    opacity:1;
    }
    14%{
    z-index:-8;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:-8;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:-5;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:-5;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:-2;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:-2;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:4;
    visibility:visible;
    opacity:1;
    }
}

@keyframes s2{
    0%{
    z-index:2;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:5;
    visibility:visible;
    opacity:1;
    }
    20%{
    z-index:5;
    visibility:visible;
    opacity:1;
    }
    34%{
    z-index:-7;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:-7;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:-4;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:-4;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:2;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:2;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s2-img{
   0%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:6;
    visibility:visible;
    opacity:1;
    }
    20%{
    z-index:6;
    visibility:visible;
    opacity:1;
    }
    34%{
    z-index:-6;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:-6;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:-3;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:-3;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s2-desc{
    0%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:7;
    visibility:visible;
    opacity:1;
    }
    20%{
    z-index:7;
    visibility:visible;
    opacity:1;
    }
    34%{
    z-index:-5;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:-5;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:-2;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:-2;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s3{
    0%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:2;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:2;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:5;
    visibility:visible;
    opacity:1;
    }
    40%{
    z-index:5;
    visibility:visible;
    opacity:1;
    }
    54%{
    z-index:-7;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:-7;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:-4;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:-4;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s3-img{
    0%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:6;
    visibility:visible;
    opacity:1;
    }
    40%{
    z-index:6;
    visibility:visible;
    opacity:1;
    }
    54%{
    z-index:-6;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:-6;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:-3;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:-3;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s3-desc{
    0%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:7;
    visibility:visible;
    opacity:1;
    }
    40%{
    z-index:7;
    visibility:visible;
    opacity:1;
    }
    54%{
    z-index:-5;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:-5;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:-2;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:-2;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s4{
    0%{
    z-index:-4;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:2;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:2;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:5;
    visibility:visible;
    opacity:1;
    }
    60%{
    z-index:5;
    visibility:visible;
    opacity:1;
    }
    74%{
    z-index:-10;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:-10;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:-7;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:-7;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s4-img{
    0%{
    z-index:-3;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:6;
    visibility:visible;
    opacity:1;
    }
    60%{
    z-index:6;
    visibility:visible;
    opacity:1;
    }
    74%{
    z-index:-9;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:-9;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:-6;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:-6;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s4-desc{
    0%{
    z-index:-2;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:7;
    visibility:visible;
    opacity:1;
    }
    60%{
    z-index:7;
    visibility:visible;
    opacity:1;
    }
    74%{
    z-index:-8;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:-8;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:-5;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:-5;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s5{
    0%{
    z-index:-7;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:-4;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:-4;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:2;
    visibility:visible;
    opacity:1
    }
    60%{
    z-index:2;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:5;
    visibility:visible;
    opacity:1;
    }
    80%{
    z-index:5;
    visibility:visible;
    opacity:1;
    }
    94%{
    z-index:-10;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:-10;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s5-img{
    0%{
    z-index:-6;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:-3;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:-3;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:6;
    visibility:visible;
    opacity:1;
    }
    80%{
    z-index:6;
    visibility:visible;
    opacity:1;
    }
    94%{
    z-index:-9;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:-9;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s5-desc{
    0%{
    z-index:-5;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:-2;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:-2;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:7;
    visibility:visible;
    opacity:1;
    }
    80%{
    z-index:7;
    visibility:visible;
    opacity:1;
    }
    94%{
    z-index:-8;
    visibility:hidden;
    opacity:0;
    }
    100%{
    z-index:-8;
    visibility:hidden;
    opacity:0;
    }
}
@keyframes s6{
    0%{
    z-index:-10;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:-7;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:-7;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:-4;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:-4;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:-1;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:2;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:2;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:5;
    visibility:visible;
    opacity:1;
    }
    100%{
    z-index:5;
    visibility:visible;
    opacity:1;
    }
}
@keyframes s6-img{
    0%{
    z-index:-9;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:-6;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:-6;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:-3;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:-3;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:0;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:3;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:6;
    visibility:visible;
    opacity:1;
    }
    100%{
    z-index:6;
    visibility:visible;
    opacity:1;
    }
}
@keyframes s6-desc{
    0%{
    z-index:-8;
    visibility:hidden;
    opacity:0;
    }
    14%{
    z-index:-5;
    visibility:hidden;
    opacity:0;
    }
    20%{
    z-index:-5;
    visibility:hidden;
    opacity:0;
    }
    34%{
    z-index:-2;
    visibility:hidden;
    opacity:0;
    }
    40%{
    z-index:-2;
    visibility:hidden;
    opacity:0;
    }
    54%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    60%{
    z-index:1;
    visibility:hidden;
    opacity:0;
    }
    74%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
    80%{
    z-index:4;
    visibility:hidden;
    opacity:0;
    }
    94%{
    z-index:7;
    visibility:visible;
    opacity:1;
    }
    100%{
    z-index:7;
    visibility:visible;
    opacity:1;
    }
}

    
    footer{
        display:flex;
        flex-direction:column;
        background-image: url("images/pattern-footer.svg");
        background-position: top right;
        background-repeat: no-repeat;
        background-color:#cfbaf5;
        color:#440b74;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight:400;
        position: relative;
        margin-top: 5cm;
        height: 8cm;
        width: 100%;

    }
    footer h1{
        position: relative;
        right:-5cm;
    }
    footer h3{
        position: relative;
        top:1cm;
    }
    #line-1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
    }
    #footer-image{
        position: relative;
        left:-5cm;
        border:0px solid transparent;
        border-radius:100%;
        height:2cm;
        width:2cm;
    }
    #footer-info{
        position:relative;
        top:-1cm;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center ;
        color:#440b74;
        text-decoration: none;

    }
    #footer-info a{
        color:#440b74;
        text-decoration: none;
        position: relative;
        left:0.5cm;
    }
    #footer-info p{
        position: relative;
        top:1.5cm;
        width:30%;
        overflow:wrap;
        font-size: 0.5cm;
    }
    #sep{
        background-color: #440b74;;
        width:100%;
        height:2px;
        position: relative;
        left:0px;
        color:transparent;
    }
