#report{
    position:relative;
    top:5cm;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
#report h1{
        font-family: 'Noto Sans', sans-serif;
        font-weight:500;
    }
#report #calendar{
    position:relative;
    left:0%;
    width:10cm;
    height:10cm;
    border:0px solid transparent;
    border-radius:5px;
    background-color:transparent;
}
#report #weather{
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content:space-around;
    width:100%;
    margin-top:3cm;
}
    #report #weather .row{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100%;
    font-family: 'poppins',sans-serif;
    }
 
.graph-container{
                display: flex;
                flex-direction:row;
            }
            #myCanvas-r,#myCanvas-t,#myCanvas-h,#myCanvas-w{
                position:relative;
                top:0.1cm;
                border-left: 1px solid #000000;
                border-bottom: 1px solid #000000;
            }
            .cont1{
                display: flex;
                flex-direction: column;
            }
            .cont2{
                display:flex;
                flex-direction:column;
            }
            .x-labels{
                display:flex;
                flex-direction: row;
                justify-content: space-around;
                align-items:center;
            }
            .y-labels{
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                align-items:center;
                height:100%;
            }
            .y-labels #july-r,#aug-r,#sept-r,#july-t,#aug-t,#sept-t,#july-h,#aug-h,#sept-h,#july-w,#aug-w,#sept-w{
                position:relative;
                top:1mm;
            }
            .y-labels #oct-r,#nov-r,#dec-r,#oct-t,#nov-t,#dec-t,#oct-h,#nov-h,#dec-h,#oct-w,#nov-w,#dec-w{
                position:relative;
                top:2mm;
            }
            .cont1 .o{
                position:relative;
                top:1mm;
            }
            .cont2 .x-labels{
                position: relative;
                top:1mm;
                left:-2mm;
            }
#humidity{
position:relative;
left:2cm;
}
#windspeed{
position:relative;
left:5.5cm;
}
